.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(122, 192, 48);
}

.phonebook {
  color: rgb(255, 255, 255);
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  transition: transform 200ms ease-out;
}

.phonebook:hover {
  color: #fff;
  transform: scale(1.1);
}

.navigation {
  padding-right: 10px;
}

.link {
  padding: 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 200ms ease-out;
  border-radius: 20px;
}

.link:hover {
  background-color: rgb(125, 125, 125);
  color: #fff;
}

.link:first-child {
  margin-right: 10px;
}

.content {
  padding-top: 20px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    padding-right: 50px;
  }

  .link {
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px 20px 2px 2px;
  }

  .content {
    margin:0 50px;
  }
}
@media screen and (min-width: 1200px) {
  .link {
    font-size: 24px;
  }
}
