.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(122, 192, 48);
}

.phonebook {
  color: rgb(255, 255, 255);
  margin-right: auto;
  padding: 20px;
}

.navigation {
  padding-right: 50px;
}

.link {
  padding: 15px;
  margin-top: 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 200ms ease-out;
  border-radius: 20px 20px 2px 2px;
}

.link:hover {
  background-color: rgb(125, 125, 125);
  color: #fff;
}

.link:first-child {
  margin-right: 10px;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
